<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component-alert</title>
    <link rel="stylesheet" href="../../Static/zui/css/zui.min.css">
</head>
<body>
    <h2>不同感情色彩的消息框</h2>
    <div class="alert">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容</p>
    </div>
    <div class="alert alert-primary">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容.alert-primary</p>
    </div>
    <div class="alert alert-success">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容.alert-success</p>
    </div>
    <div class="alert alert-danger">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容.alert-danger</p>
    </div>
    <div class="alert alert-warning">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容.alert-warning</p>
    </div>
    <div class="alert alert-info">
        <h4>Hello</h4>
        <hr>
        <p>这是alert的内容.alert-info</p>
    </div>

    <hr>
    <h2>使用图标</h2>
    <div class="alert with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容</p>
        </div>
    </div>
    <div class="alert alert-primary with-icon">
        <i class="icon-star"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容.alert-primary</p>
        </div>
    </div>
    <div class="alert alert-success with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容.alert-success</p>
        </div>
    </div>
    <div class="alert alert-danger with-icon">
        <i class="icon-remove-sign"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容.alert-danger</p>
        </div>
    </div>
    <div class="alert alert-warning with-icon">
        <i class="icon-frown"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容.alert-warning</p>
        </div>
    </div>
    <div class="alert alert-info with-icon">
        <i class="icon-info-sign"></i>
        <div class="content">
            <h4>Hello</h4>
            <hr>
            <p>这是alert的内容.alert-info</p>
        </div>
    </div>

    <hr>
    <h2>使用反色主题</h2>
    <div class="alert alert-inverse with-icon">
        <i class="icon-inbox"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-inverse</p>
        </div>
    </div>
    <div class="alert alert-primary-inverse with-icon">
        <i class="icon-inbox"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-primary-inverse</p>
        </div>
    </div>
    <div class="alert alert-success-inverse with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-success-inverse</p>
        </div>
    </div>
    <div class="alert alert-danger-inverse with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-danger-inverse</p>
        </div>
    </div>
    <div class="alert alert-warning-inverse with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-warning-inverse</p>
        </div>
    </div>
    <div class="alert alert-info-inverse with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是内容.alert-info-inverse</p>
        </div>
    </div>

    <hr>
    <h2>块级消息</h2>
    <div class="alert alert-block with-icon">
        <i class="icon-star"></i>
        <div class="content">
            <h5>Hello</h5>
            <hr>
            <p>这是一个块.alert-block</p>
        </div>
    </div>

    <hr>
    <h2>消息中的链接</h2>
    <div class="alert with-icon">
        <i class="icon-ok-sign"></i>
        <div class="content">
            <h5><a href="" class="alert-link">标题</a></h5>
            <hr>
            <p>标题a标签带.alert-link <a href="" class="alert-link">链接</a></p>
        </div>
    </div>

    <hr>
    <h2>可以关闭的弹框</h2>
    <div class="alert with-icon">
        <button type="button" class="close"
         data-dismiss="alert"
         aria-hidden="true">x</button>
        <div class="content">
            <h5>提示</h5>
            <hr>
            <p>点击x可以关闭,不能添加图标</p>
        </div>
    </div>
</body>
</html>