<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component-inputgroup</title>
    <link rel="stylesheet" href="../../Static/zui/css/zui.min.css">
</head>
<body>
    <h2>基本类型</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="用户名">
                    <span class="input-group-addon">@gmail.com</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="用户名">
                    <span class="input-group-addon"><i class="icon icon-heart"></i></span>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="用户名">
                    <span class="input-group-addon fix-border">@</span>
                    <input type="text" class="form-control" placeholder="密码">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="用户名">
                    <span class="input-group-addon fix-border"><i class="icon icon-heart"></i></span>
                    <input type="text" class="form-control" placeholder="密码">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="用户名">
                    <span class="input-group-addon fix-border">@</span>
                    <input type="text" class="form-control" placeholder="密码">
                    <span class="input-group-addon"><i class="icon-ok"></i></span>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>连续分段的文本框</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-addon">姓名</span>
                    <input type="text" class="form-control" placeholder="姓">
                    <span class="input-group-addon fix-border fix-padding"></span>
                    <input type="text" class="form-control" placeholder="名字">
                </div>
            </div>
        </div>
    </div>
</body>
</html>