<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component-panel</title>
    <link rel="stylesheet" href="../../Static/zui/css/zui.min.css">
</head>
<body>
    <h2></h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <div class="panel-body">这是面板的内容</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>带标题的面板</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>带脚注的面板</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                    <div class="panel-footer">脚部</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>色彩主题</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>带表格面板</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">标题</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>周一</th>
                                <th>周二</th>
                                <th>周三</th>
                                <th>周四</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>练习</th>
                                <th>练习</th>
                                <th>练习</th>
                                <th>练习</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>包含列表</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">标题</div>
                    <ul class="list-group">
                        <li class="list-group-item">项目</li>
                        <li class="list-group-item">待办</li>
                        <li class="list-group-item">需求</li>
                        <li class="list-group-item">Bug</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h2>面板组</h2>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading">标题1</div>
                        <div class="panel-body">内容1</div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">标题2</div>
                        <div class="panel-body">内容2</div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">标题3</div>
                        <div class="panel-body">内容3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Static/jquery-2.1.4.min.js"></script>
    <script src="../../Static/zui/js/zui.min.js"></script>
</body>
</html>